# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [5]:
CREATE TABLE [JunkDB_KC].Chandralekha.planned_makes (
    project_id INT PRIMARY KEY,
    project_name varchar (50),
    project_description TEXT,
    estimated_completion_date DATE,
    project_status varchar (200)
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes.

In [2]:
INSERT INTO [JunkDB_KC].[Chandralekha].planned_makes (project_id, project_name, project_description, estimated_completion_date, project_status) VALUES
(1, 'Wooden Chair', 'A comfortable chair made from oak wood with a leather cushion.', '2023-07-31', 'not started'),
(2, 'Wooden Table', 'A rustic dining table made from pine wood with matching benches.', '2023-10-31', 'in progress'),
(3, 'Wooden Chest', 'A beautiful chest made from cherry wood with brass hardware.', '2024-02-28', 'not started');

## Update a Row

Change different values in one of your three rows.

In [3]:
UPDATE [JunkDB_KC].[Chandralekha].planned_makes 
SET project_status = 'complete' 
WHERE project_id = 2;

## Delete a Row

Delete one of the rows from your table.

In [4]:
DELETE FROM [JunkDB_KC].[Chandralekha].planned_makes 
WHERE project_id = 3;

## Drop the Table

While this has been fun, it is time to drop the table!

In [6]:
drop table [JunkDB_KC].[Chandralekha].[planned_makes]